{
            "IDENTITY_CONSENT": "email_and_support_v1",
            "SERVICE_URL": "https://amandla-identity-staging.herokuapp.com",
            "ORG_NAME": "campax",
            "KEYS": "proca_pub_key:proca_priv_key",
            "SENTRY_DSN": "for sentry.io",
            "IDENTITY_API_TOKEN": "identity api token"
        }
