{
            "IDENTITY_CONSENT": "email_and_support_v1",
            "SERVICE_URL": "https://amandla-identity-staging.herokuapp.com",
            "ORG_NAME": "campax",
            "KEYS": "zVEbdY9-qdodWYov7ikF1Ge6gQXZOxNwlU6swNkGywk:VRpZJbBki1OtPz_c0dih-_M5LYhVRRouPEFpPu3Q3-k",
            "SENTRY_DSN": "https://d86ea0eca9ab4c76bb8de3e4126f51d3@o384266.ingest.sentry.io/5278597",
            "IDENTITY_API_TOKEN": "f1d4a40110aa0eb8905425593ac21de5a19d29c06d1a0837fdbdcb569c422178981e52ca3883a41f74bee68ced55a11337d1dd756cd4a29913ddc6693746e656"
        }
